// Special styling for markdown panels
@import "@influxdata/clockface/dist/variables.scss";

.notebook-panel--markdown,
.notebook-panel--markdown-edit {
  font-size: 14px;
  padding: $cf-marg-b;
  border-radius: $cf-radius - 1px;
  border-width: $cf-border;
  border-style: solid;
}

.notebook-panel--markdown {
  border-color: transparent;
}

.notebook-panel--markdown-edit {
  padding: $cf-marg-b;
  background-color: $g1-raven;
  border-color: $cf-input-border--default;
  color: $cf-input-text--default;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  transition: $cf-input--transition;
  outline: none;

  &:hover {
    color: $cf-input-text--hover;
    border-color: $cf-input-border--hover;
  }

  &:focus {
    color: $cf-input-text--focused;
    border-color: $cf-input-border--focused;
    box-shadow: $cf-input--box-shadow;
  }
}
