.cf-panel.signin-panel {
  width: 300px;

  .cf-panel--body {
    padding: $ix-marg-d;
    text-align: center;
  }
}

.onboarding--explainer {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  margin-top: $ix-marg-a;
  padding: 0 11px;
}
